        /* CUSTOM PROPS */

:root {
    --header-bar: 60px;
    --sidebar-width: 60px;
}
 
 
 
        /* UTILS */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}


        /* HEADER */

#header {
    height: var(--header-bar);
}

#header .small-logo {
    max-width: 50px;
}

#header form input,
#header form button {
    background-color: lightgrey;
}

#header ul {
    margin: 0;
}

#header li {
    padding: 0 10px;
}

#header .icon {
    color: var(--bs-warning);
}

#header .dropdown-menu {
    transform: translate(-140px, -5px);
}

            /* MAIN */


/* Sidebar section */

#sidebar {
    height: calc(100vh - var(--header-bar));
    width: var(--sidebar-width);
    background-image: url(../img/sidebar-bg.png);
    background-color: #11273d;
}

#sidebar span {
    font-size: .8rem;
}

#sidebar a:hover {
    background-color: grey;
}

/* CNT SECTION */

main #cnt {
    height: calc(100vh - var(--header-bar));
    width: calc(100% - var(--sidebar-width));
}

/* Top bar section */

#jumbo {
    background-color: #1a72e8;
    color: white;
}

#jumbo .piani a {
    font-size: .6rem;
    background-color: #165bba;
}

#jumbo .offcanvas {
    width: 100%;
}

#jumbo .form-check {
    margin-left: 13px;
}

/* MAIN PAGE CNT */

#page-cnt h3 {
    background-color: #f7f7f7;
}

/* Table */

#page-cnt {
    font-size: .8rem;
}

#page-cnt td > i {
    color: white;
    background-color: #f26551;
    border-radius: 50%;
}

#page-cnt .status {
    color: white;
    font-size: .7rem;
}

#page-cnt .status.done {
    background-color: #1a8754;
}

#page-cnt .status.process {
    background-color: #ffc109;
}

#page-cnt .status.failed {
    background-color: #dc3545;
}

/* CHECKBOX SECTION */

#page-cnt .form-check {
    margin-bottom: 0;
}

#page-cnt input.form-check-input {
    margin-left: -16px;
}

#page-cnt .card a {
    text-decoration: underline;
    color: #4791fd;
}
        /* ## RESPONSIVE ## */

@media screen and (min-width: 992px) {
    /* CUSTOM PROPS */

    :root {
        --sidebar-width: 140px;
    }
    
    /* JUMBO */

    /* Top bar section */
    
    #jumbo .offcanvas {
    width: 40%;
    }
}