        /* CUSTOM PROPS */

:root {
    --header-bar: 60px;
    --sidebar-width: 60px;
}
 
 
 
        /* UTILS */

body {
    height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}


        /* HEADER */

#header {
    height: var(--header-bar);
}

#header .small-logo {
    max-width: 50px;
}

#header form input,
#header form button {
    background-color: lightgrey;
}

#header ul {
    margin: 0;
}

#header li {
    padding: 0 10px;
}

#header .icon {
    color: var(--bs-warning);
}

#header .dropdown-menu {
    transform: translate(-140px, -5px);
}

            /* MAIN */


/* Sidebar section */

#sidebar {
    height: calc(100vh - var(--header-bar));
    background-image: url(../img/sidebar-bg.png);
    background-color: #11273d;
    width: var(--sidebar-width);
}

#sidebar span {
    font-size: .8rem;
}

/* Top bar section */

#jumbo {
    width: calc(100% - var(--sidebar-width));
    background-color: #1a72e8;
    color: white;
    max-height: 240px;
}

#jumbo .piani a {
    font-size: .6rem;
    background-color: #165bba;
    
} 

        /* ## RESPONSIVE ## */

@media screen and (min-width: 992px) {
    /* CUSTOM PROPS */

    :root {
        --sidebar-width: 140px;
    }

    /* Top bar section */
    #jumbo {
        max-height: 120px;
    }
}