        /* CUSTOM PROPS */

:root {
    --header-bar: 60px;
}
 
 
 
        /* UTILS */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}


        /* HEADER */

#header {
    height: var(--header-bar);
}

#header .small-logo {
    max-width: 50px;
}

#header form input,
#header form button {
    background-color: lightgrey;
}

#header ul {
    margin: 0;
}

#header li {
    padding: 0 10px;
}

#header .icon {
    color: var(--bs-warning);
}

#header .dropdown-menu {
    transform: translate(-140px, -5px);
}

            /* MAIN */

/* Sidebar section */

#sidebar {
    height: calc(100vh - var(--header-bar));
    background-image: url(../img/sidebar-bg.png);
    background-color: #11273d;
    max-width: 60px;
}

#sidebar span {
    font-size: .8rem;
}


        /* ## RESPONSIVE ## */

@media screen and (min-width: 992px) {
    #sidebar {
        max-width: 140px;
    }
    
}